<!--The content below is only a placeholder and can be replaced.-->
<header class="title-header">
    <div style="text-align:center" class="head container rel-container">
        <div class="page-head">
            Welcome to {{ title }}
        </div>
    </div>
</header>
<div>
    <app-post></app-post>
</div>
<div class="section-footer">
    <div class="container">
        <strong>Zox</strong>
        <p>Thanks for all for your<br> support and readership!</p>
        <div class="bottom-dude">
        </div>
    </div>
</div>

<div class="envato-footer">
    <div class="container">

        <p>Helping people manage content online</p>
    </div>
</div>