<div class="row socialcounter">
    <div class="col-sm-2">
        <div>
            <a href="#" class="social_item social_twitter" [routerLink]="['twitter']"><i class="fa fa-twitter social_icon"></i><span class="social_num"> Twitter</span></a>
        </div>
        <div>
            <a href="#" class="social_item social_instagram" [routerLink]="['insta']"><i class="fa fa-instagram social_icon"></i><span class="social_num"> Instagram</span></a>
        </div>

    </div>
    <div class="col-sm-10 post">
        <router-outlet></router-outlet>
    </div>
</div>